@model IEnumerable<Employee.Models.Employees>

@{
    ViewData["Title"] = "Index";
}

<h2>Employee Register</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                <a asp-action="Create"><i class="fas fa-plus-square"></i>  Employee</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmployeeId"><i class="fas fa-edit"></i></a>
                <a onclick="alertMessage(@item.EmployeeId)"><i class="fas fa-eraser" style="color: darkred"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    function alertMessage(item) {
        if (confirm("Are you sure you want to delete this?")) {
            $().ready(function () {
                // $(".delete-button").click(null, DeleteItem); //DeleteItem is the callback
                window.location.href = '@Url.Action("Delete", "Employees")/' + item;
                return false;
            });
        }
    }
</script>
